<% provide(:title, 'About Us') %>
<div class="center hero-unit">
    <h1>About Us</h1>
    <p>
      <%= link_to "Cutthroat Equipment App", root_path %>
      is a project to track Cutthroat Inventory

    </p>
</div>