<h1>New Roles</h1>
<div class="row">
  <%= form_for @roles, :as => :roles, :url => new_role_path, :method => :get do |f| %>
      <p>
        <%= f.label 'Name:' %><br/>
        <%= f.text_field :name %>

      </p>
      <p>
        <%= f.submit 'Create Role',class: "btn btn-medium btn-primary" %>
      </p>
  <% end %>


</div>